<div class="card" >
    <div class="card-body">
      <h5 class="card-title">Implementación de Plataforma de Vuelos espaciales</h5>
      <h6 class="card-subtitle mb-2 text-muted">Desarrollado con Angular y utilizando       </h6>
       
      <div class="card-text">
        <ul>
            <li><b>Angular Library</b>: Para creación de módulos publicables en npm y reutilizables en otros proyectos angular  </li>
            <li><b>Angular Elements</b>: Para creación de elementos publicables en npm y reutilizables en cualquier proyecto web (javascript, react.js, vue.js, etc)</li>
            <li><b>Angular PWA</b>: Para creación de página progresiva.  </li> 
            <li><b>RxJs:</b> Para manejo de programación reactiva - manejo de observables</li> 
            <li><b>Comunicación entre componentes:</b> </li>
            <li><b>Guards</b>: Para proteger rutas de acuerdo a roles</li>
            <li><b>Interceptores</b>: Para simular el envío del token</li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Funcionalidades implementadas</h5>
        <h6 class="card-subtitle mb-2 text-muted">Implementación parcial de funcionalidades. </h6>
        <div class="card-text">
          <ul>
              <li><b>Menú</b>: Barra de menú superior en la cual se muestran las diferentes opciones que se habilitación o deshabilitan de acuerdo al rol:
                 <br/>Rol piloto, solo podrá regitrar alquileres.
                 <br/>Rol admin, solo podra consultar usuarios,
                 <br/>Rol pasajero, no se alcanzo a implementar alguna consulta. solo puede cerrar sesión (logout)
              </li> 
              <li><b>Login</b>: Para creación de módulos publicables en npm y reutilizables en otros proyectos angular  </li>
              <li><b>Inicio</b>: Para creación de elementos publicables en npm y reutilizables en cualquier proyecto web (javascript, react.js, vue.js, etc)</li>
              <li><b>Consultar usuarios</b>: Para creación de página progresiva.  </li> 
              <li><b>Registrar alquiler de aeronave:</b> Para manejo de programación reactiva - manejo de observables</li> 
              <li><b>Logout:</b> </li>
          </ul>
      </div>
      
      
    </div>
  </div>
